<div class="">
    <input class="form-control mb-3" type="text" id="text" name="text" placeholder="Search.." [(ngModel)]="studentId" >
    <button (click)="searchById()" class="btn btn-info mb-2">Filter<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
        viewBox="0 0 16 16">
        <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
    </svg></button>
    
</div>

<table class="table  table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Roll Number</th>
            <th scope="col">Name</th>
            <th scope="col">English</th>
            <th scope="col">Tamil</th>
            <th scope="col">Maths</th>
            <th scope="col">Social</th>
            <th scope="col">Science</th>
            <th scope="col">Total</th>
            <th scope="col">Result</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of student">
            <td>{{s.id}}</td>
            <td>{{s.roleNumber}}</td>
            <td>{{s.name}}</td>
            <td>{{s.english}}</td>
            <td>{{s.tamil}}</td>
            <td>{{s.maths}}</td>
            <td>{{s.social}}</td>
            <td>{{s.science}}</td>
            <td>{{s.total}}</td>
            <td>{{s.result}}</td>
        </tr>
    </tbody>
</table>